//Cart Navigation
#links-cart {
  float: right;
  z-index: 2;
}

/*************************
 *  V. Product Page      *
 *************************/
#the-zoombox {
  float: right;
  margin-right: 2em;

  #zoombox-image-link {
    display: block;
  }
  .view-full-size {
    display: block;
    cursor: pointer;
    text-align: center;
    margin-top: 15px;
    margin-top: 15px;
  }
}

.product-content {
  h2.product-model {
    text-align: center;
    font-size: 1.1em;
  }

  .product-info {
    padding: 0 20px;

    .product-tabs {
      text-align: left;
    }
    .tab-contents {
      text-align: left;
      height: 16em;
      overflow: auto;

      .shipping-policy, .return-policy {
        margin-bottom: 1em;

        .title {
          font-size: 1.1em;
          font-weight: bold;
          margin-bottom: .4em;
        }
      }
    }

    .form-item.quantity {

      label {
        width: auto;
        min-width: 0;
        display: inline-block;
      }

      input {
        width: 60px !important;
      }
    }
  }

  .product-options {
    text-align: center;

    .form-item {
      margin-bottom: 1.3em;

      .checkbox-button {
        label {
          width: auto;
          margin-left: 1.1em;
          margin-top: 3px;
          text-align: left;
          position: relative;
          top: 4px;
        }
      }
    }
  }

  .product-nav {
    margin-top: 20px;

    a {
      padding: 0 10px;
    }
  }

  .product-sharing {
    margin-top: 1.5em;
    border-top: 2px solid @color-light;
    padding-top: 15px;
  }

  &.product-voucher {
    .product-info {
      .tab-contents {
        height:6em;
      }
    }
  }
}

@media( max-width: @md) {
  .product-content {
    .product-image {
      text-align: center;

      img {
        max-width: 100%;
      }

      #the-zoombox {
        float: none;
      }
    }

    .product-top {
      margin-top: 25px;
    }
    .product-info {
      .product-tabs {
        text-align: center;
      }
      .tab-contents {
        text-align: center;
      }
    }

    .product-options {
      text-align: center;
    }
  }
}
/*************************
 *  VI. Listing / Content*
 *************************/
.category-listing {
  .limit {
    float: left;
  }
}

.catalog-listing {
  .list-grid-toggle {
    float:right;
    margin-bottom: 1em;
  }

  .listing-products {
    clear: both;
    text-align: center;

    .listing-product {
      box-sizing: border-box;
      display: inline-block;
      vertical-align: top;
      padding: 1em 1em;
      border: 2px solid @color-light;
      border-radius: 5px;
      margin: 0 1em 2em 1em;
      width: 20em;
      min-height: 320px;
      text-align: center;
    }
  }
}

/*************************
 *  VI. Cart             *
 *************************/
#the-cart {
  .cart-info {
    table {
      width: 100%;

      thead {
        tr {
          td {
            padding: .5em 0;
            text-align: center;
            font-size: 1.5em;
          }
        }
      }

      tbody {
        tr {
          background: @color-lightest;

          &:nth-child(2) {
            background: @color-lighter;
          }

          td {
            padding: .3em;
            vertical-align: middle;
            text-align: center;

            &.image {
              a {
                display: block;
              }
            }

            &.name {
              a {
                font-size: 1.3em;
                color: @color-darker;
              }
            }

            &.quantity {
              input {
                display: inline-block;
                vertical-align: middle;
                outline: none;
                border: none;
                text-align: center;
                font-size: 1.1em;
                border-radius: 5px;
              }
              label {
                display: inline-block;
                vertical-align: middle;
                width: 75px;
                outline: none;
              }

              &.loading {
                input.update {
                  -webkit-transition: -webkit-transform .75s;
                  -webkit-animation: rotation .75s infinite linear;
                  transition: transform .75s;
                  animation: rotation .75s infinite linear;
                }
              }
            }
          }
        }
      }
    }
  }
}

#cart-form + #cart-extended {
  margin-top: 2em;
}


#cart-actions {
  margin-top: 3em;
  text-align: center;

  #cart-shipping-estimate {
    display: none;
  }

  #toggle_block_coupon {
    margin: auto;
    max-width: 30em;
  }
}

.total-line-items {
  margin-top: 2em;
  position: relative;
  left: -11%;

  .line-item {
    text-align: right;

    .title {
      display: inline-block;
      font-size: 1.5em;
    }

    .text {
      display: inline-block;
      font-size: 1.5em;
      font-weight: bold;
      width: 100px;
    }
  }
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*************************
 *  VI. Checkout         *
 *************************/
#checkout-page {
  #checkout-form {
    h3 {
      font-size: 1.5em;
      margin-bottom: .5em;
    }

    .change-address, .change-method {
      cursor: pointer;
      display: none;
      margin-top: .5em;
    }

    &.methods, &.confirmation {
      .change-address {
        display: block;
      }

      .add-address {
        display: none;
      }
    }

    &.confirmation {
      & + .checkout-confirmation {
        display: block;
      }

      .checkout-submit-row {
        display: none;
      }

      .method-list {
        label.ac-radio {
          margin: 0;
          padding: 0;
          display: block;

          input {
            display: none;
          }

          input + .text {
            display: none;
          }

          input:checked + .text {
            display: block;
          }
        }
      }

      .change-method {
        display: block;
      }
    }

    .row.checkout-methods {
      .method-list {
        .braintree-register-card {
          .wrap {
            padding: 5px;

            h1 {
              font-size: 1em;
            }
          }

        }
      }
    }
  }

  .checkout-confirmation {
    display: none;

    .checkout-coupon {
      text-align: center;

      input {
        text-align: center;
      }
    }

    .checkout-totals {
      margin-top: 2em;
      position: relative;
      left: -11%;

      .line-item {
        text-align: right;

        .title {
          display: inline-block;
          font-size: 1.5em;
        }

        .text {
          display: inline-block;
          font-size: 1.5em;
          font-weight: bold;
          width: 100px;
        }
      }
    }

    .checkout-payment {
      margin-top: 2em;
      text-align: center;
    }
  }

  .loader {
    margin: 2em auto;
    width: 10em;
    height: 1em;
  }
}

#checkout-success {
  .checkout-success-row {
    text-align: center;
    font-size: 1.2em;
    p {
      margin-bottom: 1em;
    }
  }
}

/*************************
 * VII. Account          *
 *************************/

#order-history-page {
  .order-list {
    .order-item {
      display: inline-block;
      border: dashed 2px @color-light;
      border-radius: 5px;
      padding: 1em;
      margin-left: 1em;

      .order-buttons {
        margin-top: 1em;
        text-align: center;

        a img {
          width: 5em;
        }
      }
    }
  }
}

#order-info-page {
  .order-info {
    .order-details {
      .info-list {
        width: 80%;
        margin: auto;
        text-align: left;
      }
    }

    .payment-method.info-item, .shipping-method.info-item {
      text-align: center;

      margin: 1em auto;
      .label {
        display: block;
        width: auto;
        margin: auto;
      }
    }

    .order-products {
      margin-top: 2em;
    }

    .order-history {
      margin-top: 2em;
    }
  }

  .footer-text {
    margin-top: 2em;
  }
}

/*************************
 * VII. Subscription     *
 *************************/

#checkout-subscribe {
  .box-info {
    .name {
      font-size: 3em;
      color: @color-light;
    }

    .description {
      font-size: 1.3em;
    }

    .options {
      margin-top: 1em;
      text-align: left;

      .option {
        font-size: 1.2em;

        &:before {
          content: url("@{theme-img}checkmark-small.png");
          margin-right: 10px;
          position: relative;
          top: 4px;
        }
      }
    }
  }
  #subscribe-form {
    h2 {
      margin-bottom: .2em;
    }

    .address-select {
      margin-bottom: 1em;
    }
  }

  .subscription-submit {
    text-align: center;

    .price {
      font-size: 1.3em;
    }

    button {
      margin-top: .2em;
    }
  }
}

.braintree-register-card {
  .braintree-form-row {
    text-align: center;
    .form-item {
      margin: auto auto 15px;

      &.card-number {
        input {
          text-align: center;
          width: 80%;
          max-width: 20em;
        }
      }

      &.cvv-code {
        width: 120px;
        input {
          text-align: center;
        }
      }

      &.expiration {
        input {
          width: 120px;
        }
      }
    }
  }
}

.block-select-card {
  .card-list {
    .ac-radio {
      .card {
        .card-type {
          text-align: center;
        }
      }
    }
  }

  .add-card {
    display: block;
    text-align: center;
    margin-top: .3em;
    font-size: 1.3em;
  }
}
