<table class="form">
	<tr>
		<td>{{Shipping Estimator:}}</td>
		<td><?= build(array(
	'type' => 'select',
	'name'  => "settings[estimator]",
	'data'   => $data_statuses,
	'select' => $settings['estimator']
)); ?></td>
	</tr>
</table>
