<?= $is_ajax ? '' : call('admin/header'); ?>
	<div class="section">
		<?= $is_ajax ? '' : breadcrumbs(); ?>
		<div class="box">
			<div class="heading">
				<h1><img src="<?= theme_url('image/setting.png'); ?>" alt=""/> {{Order Totals}}</h1>

				<div class="buttons">
					<a href="<?= $insert; ?>" class="button">{{Insert}}</a>
				</div>
			</div>
			<div class="section">
				<div class="limits">
					<?= $limits; ?>
				</div>

				<div id="listing">
					<?= $list_view; ?>
				</div>

				<div class="pagination"><?= $pagination; ?></div>
			</div>
		</div>
	</div>

<?= $is_ajax ? '' : call('admin/footer'); ?>
